
h1
{
	color: red; 
	font-size: 40px;
}
.bodyBackgorund {
	background-image: url("caderno-de-desenho-aberto-com-maquete-de-papel-em-branco-branco-marcadores-de-desenho-coloridos-para-desenhar-em-um-fundo-de-marmore-composicao-plana-leiga-espaco-para-texto_156843-1112.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	background-color: white;
	border-width: 10px;
	border-style: groove;
}
